header{
	display:block;
	font-family:Book Antiqua;
	font-size:120%;
}

section
{
	display:block;
}

body { 
    background-image: url('SevenWondersOfTheWorld.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 90% 10%; 
    background-color: #FAEBD7;
}

#GPG { 
    background-image: url('Kheops-Pyramid.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
    background-size: cover;
}

#HGB { 
    background-image: url('Hanging_Gardens_of_Babylon.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
    background-size: cover;
}

#SZO { 
    background-image: url('statue-of-zeus-at-olympia.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
}

#SZOu
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
    position: absolute;
    top:80px;
    right:0px;
}

#TAE { 
    background-image: url('Temple_Of_Artemis_In_Ephesus.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
}

#MH { 
    background-image: url('Mausoleum-of-Halicarnassus.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
    background-size: cover;
}

#CR { 
    background-image: url('colossus-of-rhodes.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
}

#LA { 
    background-image: url('The_Lighthouse_of_Alexandria.jpg');
    background-repeat: no-repeat;
    background-color: #FAEBD7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: underline;
}


li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}




